.container {
  min-height: 100vh;
  /*padding: 0 0.5rem;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
}

.leftBox {
  width: 400px;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, .4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightBox {
  flex: 1;
  overflow: hidden;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  line-height: 1.75;
  color: #c7254e;
  height: 80vh;
}

.rightBox code {
  font-family: Monaco, sans-serif;
}

.textarea {
  background: black;
  color: white;
  width: 360px;
  margin-top: 10px;
  height: 500px;
  border: 1px solid #FFFFFF5F;
}

.code_editor {
  width: 360px;
  margin-top: 10px;
  height: 500px;
  border: 1px solid #0000005F;
  font-family: "Monaco", "Fira code", "Fira Mono", monospace;
  font-size: 12px;
}

.code_editor textarea {
  /*caret-color: #eab7b7;*/
}

.cz {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  width: 100%;
  padding-right: 20px;
}

.btnSuccess {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btnSuccess:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btnSuccess:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btnSuccess:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.danger:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn[disabled] {
  opacity: .6;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  outline: none;
  border: none;
}
